.head {
  padding: 20px;


}

.title {

  position: absolute;
  left: 100px;
  top: 25px;




}

hr {
  margin-top: 80px;

}

ul {
  /* 取消ul預設的內縮及樣式 */
  list-style: none;
}

ul.menu {
  display: inline-block;
  font-family: 微軟正黑體;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  right: 60px;
  background-color: #e1eef6;

}

ul.menu li {
  position: relative;
  white-space: nowrap;
  background-color: #e1eef6;
}

ul.menu>li {
  float: left;
  background-color: #e1eef6;
}

ul.menu a {
  background-color: white;
  color: black;
  display: block;
  padding: 0 30px;
  text-decoration: none;
  line-height: 50px;
  background-color: #e1eef6;
}

ul.menu li:hover>a {
  /* 滑鼠移入次選單上層按鈕保持變色*/
  background-color: gray;
  color: white;
}

ul.menu ul {
  /*隱藏次選單*/
  display: none;
}

ul.menu li:hover>ul {
  /* 滑鼠滑入展開次選單*/
  display: block;
}

ul.menu ul {
  position: absolute;
  z-index: 99;
  top: 100%;
  left: -40px;
  min-width: 100%;

}


.image2 div {
  position: absolute;
  top: 110px;
  left: -1px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-animation: round 15s linear infinite;
  animation: round 15s linear infinite;

}

@-webkit-keyframes round {
  5% {
    opacity: 1;
    filter: alpha(opacity=100);
    /* 0 - 1秒 淡入*/
  }

  20% {
    opacity: 1;
    filter: alpha(opacity=100);
    /* 1- 3秒靜止*/
  }

  35% {
    opacity: 0;
    filter: alpha(opacity=0);
    /* 3-5秒淡出*/
  }
}


.image2 div:nth-child(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.image2 div:nth-child(2) {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

.image2 div:nth-child(3) {
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
}

h1 {
  padding: left 10px;
  ;
}

.text {
  position: absolute;
  font-family: 微軟正黑體;
  font-size: 16px;
  top: 300px;
  padding-bottom: 30px;
  left: 325px;
}


.announcement {
  position: absolute;
  font-family: 微軟正黑體;
  font-weight: bold;
  font-size: 20px;
  top: 600px;
  left: 230px;

}

.announcement p {
  font-size: 16px;

}

.h2 {
  position: relative;
  top: 430px;
  left: 485px;
  width: 500px;
  text-align: center
}

.ww {
  position: absolute;

  bottom: -450px;
  left: -10px;
  text-align: center;

  padding-top: 15px;
}

/*=( 表格列表樣式 )=*/
.TableList {
  text-align: center;
  padding: 1em;
  position: absolute;
  top: 680px;
  left: 290px;

}

.TableList table {
  border-collapse: collapse;
  font-size: 0.9em;
  width: 100%;
  text-align: center;

}






.TableList th a {
  color: #fff;
}


/*單列底線樣式*/
.TableList tr {
  border-bottom: 2px dotted #fff;
  _behavior: url(ie_hover.htc);
  /*IE6 hover*/
}

/*奇數列底色樣式*/
.TableList tr.Odd {
  background: #E0E3DA;
}

/*偶數列底色樣式*/
.TableList tr.Even {
  background: #9DC8C8;
}


/*hover 樣式*/
.TableList tr.hover td,
.TableList tr:hover td {
  background: #e5f1f4;
}